<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="home.css">

    <title>Home | Auxilia</title>
</head>
<body>
    <header id="head">
        <nav>
          <div class="logo">
            <img src="img/Auxilia.png"></img>
          </div>
          <ul class="navlist">
            <li><a href="home" method="get">Home</a></li>
            <li><a href="meditation" method="get">Meditation</a></li>
            <li><a href="about" method="get">About</a></li>
            <li><a href="profile" method="get">Profile</a></li>
          </ul>
        </nav>


      </header>
      
      <main>
        <div class="home-banner">
          <div class="banner-container">
            <h1 class="banner">WELCOME <br> {{firstname}} {{lastname}}</h1>
          </div>
          
        </div>

        <div class="home-plant">
          <h1 id="plant_heading">MY PLANT</h1>

         <!-- partial:index.partial.html -->
        {{!-- <div class="wrapper"> --}}
         
            
          <div class="box">
            <div class="stem">
              <div class="leaf leaf00">
                <div class="line"></div>
              </div>
              <div class="leaf leaf01 ">
                <div class="line"></div>
              </div>
              <div class="leaf leaf02 ">
                <div class="line"></div>
              </div>
              <div class="leaf leaf03 ">
                <div class="line"></div>
              </div>
              <div class="leaf leaf04 ">
                <div class="line"></div>
              </div>
              
            
            </div>
            <div class="pot-top"></div>
            <div class="pot"></div>
            
          </div>
        {{!-- </div> --}}

        <!-- partial -->
        </div>

        <div class="home-tasks">

           <div class="notepadbase">
              <div class="tasks-header">
                <h1 class="textbox" >Daily Tasks</h1>
              </div>
              <div class="tasks-list">
                <div class="task-item">
                  <div class="item">
                    <div class="drop"></div>
                    <p class="textbox1" >Watch video</p>
                  </div>
                  
                  <div class="item">
                    <div class="drop2"></div>
                    <p class="textbox2" >Exercise for 30 mins</p>
                  </div>

                  <div class="item">
                    <div class="drop3"></div>
                    <p class="textbox3" >Meditate for 15 mins</p>
                  </div>

                  <div class="item">
                    <div class="drop4"></div>
                    <p class="textbox4" >Do something you find fun</p>
                  </div>

                  <div class="item">
                    <div class="drop5"></div>
                  <p class="textbox5" >Take a 30 min nap</p>
                  </div>
                
                </div>
                
              </div>
              
              
              
          </div>
        </div>


      </main>
      
      <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script><script  src="./home.js"></script>
</body>
</html>