<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="meditation.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <title>Meditation | Auxilia</title>

    <style>
            .error{


            }

            .meditations{


            }
      </style>
</head>
<body>
    <header id="head">
        <nav>
          <div class="logo">
            <img src="img/Auxilia.png"></img>
          </div>
          <ul class="navlist">
            <li><a href="home" method="get">Home</a></li>
            <li><a href="meditation" method="get">Meditation</a></li>
            <li><a href="about" method="get">About</a></li>
            <li><a href="profile" method="get">Profile</a></li>
          </ul>
        </nav>


      </header>
      
      <main>
        {{error}}
        {{#each meditations}}
          <div class="video-container">
            <div  class="video-head">
              <div class="title">{{title}}</div>            
              <div class="desc">{{description}}</div>
            </div>

            <iframe src="{{link}}" width="800" height="470" frameborder="0"></iframe>
          </div>
        {{/each }}

        {{!-- <div class="video-container">
          <div  class="video-head">
            <div class="title">5-Minute Meditation You Can Do Anywhere</div>            
            <div class="desc">In just 5 minutes you can reset your day in a positive way. Experience even greater benefits when we repeat the practice frequently and consistently. Finding some time each day to meditate — even a short daily meditation — is better than no meditation at all.</div>
          </div>

          <iframe src="https://www.youtube.com/embed/inpok4MKVLM?autoplay=1&modestbranding=1&showinfo=0&rel=0&fs=0" width="800" height="470" frameborder="0"></iframe>
        </div>

        <div class="video-container">
          <div  class="video-head">
            <div class="title">Mindfulness Meditation - Guided 10 Minutes</div>            
            <div class="desc">Mindfulness has been shown to be very beneficial. In this guided mindfulness meditation you can learn to be completely present in the moment, letting go of your thoughts and achieving calmness. The meditations were begun with one purpose: simply to try and help people. Every meditation is produced with genuine care and love for those people who use them, because we too have needed the kind of help our meditations are trying to offer others.</div>
          </div>

          <iframe src="https://www.youtube.com/embed/6p_yaNFSYao?autoplay=1&modestbranding=1&showinfo=0&rel=0&fs=0" width="800" height="470" frameborder="0"></iframe>
        </div>

        <div class="video-container">
          <div  class="video-head">
            <div class="title">Isha Kriya: A Free Guided Meditation - Sadhguru</div>            
            <div class="desc">Isha Kriya is a simple, free guided meditation designed by Sadhguru. Watch this video for the guided instructions from Sadhguru and experience this powerful spiritual process in the comfort of your own home.</div>
          </div>

          <iframe src="https://www.youtube.com/embed/EwQkfoKxRvo?autoplay=1&modestbranding=1&showinfo=0&rel=0&fs=0" width="800" height="470" frameborder="0"></iframe>
        </div> --}}

        <!-- TEMPLATE -->

        <!-- <div class="video-container">
          <div  class="video-head">
            <div class="title">TITLE</div>            
            <div class="more"><svg id="more" xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 0 24 24" width="35  "><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg></div>
            <div class="desc">DESCRIPTION</div>
          </div>

          <iframe src="https://www.youtube.com/embed/Jyy0ra2WcQQ?autoplay=1&modestbranding=1&showinfo=0&rel=0&fs=0" width="800" height="470" frameborder="0"></iframe>
        </div> -->
        

        


        
      </main>
      
      <script src="meditation.js"></script>
</body>
</html>