.about-container img{
    height: 500px;
    width: 100%;
    z-index: -1;
}

.about-container .about-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
}

.about-header h1{
    font-size: 45px;
    font-weight: bold;
    color: #ECF9F2;
    text-align: center;
}

.header-color{
    height: 540px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00c2cb;
    opacity: 0.5;
}

.about-description{
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

p{
    padding: 15px 150px;
    font-size: 20px;
    color: black;
    text-align: center;
}

/* #learn-more{
    display: block;
    position: relative;
    margin: 5px 0 0 88%;
    background-color: #00c2cb;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
    padding: 9px;
    border-radius: 18px;
    text-transform: uppercase;
} */

/* #desc{
    display: none;
} */

.description{
    margin: 50px 0 0;
}

.about-us{
    height: 100%;
    width: auto;
    margin: 50px 80px 100px;
    /* border: 4px solid #ECF9F2; */
    display: grid;
    grid-template-rows: 90px 1fr;
}

.about-title{
    grid-row: 1/2;
    height: 50px;
    background: #ECF9F2;
    color: black;
    font-size: 45px;
    font-weight: 600;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
}

.about-content{
    grid-row: 2/3;
    height: auto;
    width: auto;
    text-align: justify;
    padding: 0px 30px 50px;
    font-size: 25px;
    display: grid;
    grid-template-rows: 40px 500px 1fr;
    grid-template-columns: 1fr 150px 500px;
}

.about-description{
    height: auto;
    grid-row: 2/3;
    grid-column: 1/2;
    position: relative;
    top: 70px;

}

#about-logo{
    height: 500px;
    width: 500px;
    grid-row: 1/3;
    grid-column: 3/4;
}

.contacts{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 23px;
}

.contacts a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 7px 0 7px 10px;
}

.contacts h4{
    padding-bottom: 10px;
}

.contacts a:hover{
    text-decoration: none;
    color: #009299;
}




