main{
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 50% 50%;
}

/* welcome banner */
.banner-container{
    display: block;
    margin: 10px auto;
}

.banner-container-not{
    display: block;
    margin: 10px auto;
}

.banner {
    position: absolute;
    left: 40%;
    display: block;
    width: auto;
    padding: 0 5%;
    height: 80px;
    border: 1px solid #17BEBB;
    text-align: center;
    color: #ECF9F2;
    font-size: 30px;
    background: #17BEBB;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
                      0 6px 10px rgba(0,0,0,.15);
    text-transform: uppercase;
  }
  
  .banner::before,
  .banner::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -70px;
    top: 30px;
    display: block;
    width: 40px;
    height: 0px;
    border: 30px solid #17BEBB;
    border-right: 20px solid #0cb3b0;
    border-bottom-color: #0cb3b0;
    border-left-color: transparent;
    transform: rotate(-5deg);
  }
  
  .banner::after {
    left: auto;
    right: -70px;
    border-left: 20px solid #0cb3b0;
    border-right: 30px solid transparent;
    transform: rotate(5deg);
  }

  .banner-not {
    position: absolute;
    left: 35%;
    display: block;
    width: auto;
    padding: 20px 5%;
    border: 1px solid #17BEBB;
    text-align: center;
    color: #ECF9F2;
    font-size: 30px;
    background: #17BEBB;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
                      0 6px 10px rgba(0,0,0,.15);
    text-transform: uppercase;
  }
  
  .banner-not::before,
  .banner-not::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -70px;
    top: 30px;
    display: block;
    width: 40px;
    height: 0px;
    border: 30px solid #17BEBB;
    border-right: 20px solid #0cb3b0;
    border-bottom-color: #0cb3b0;
    border-left-color: transparent;
    transform: rotate(-5deg);
  }
  
  .banner-not::after {
    left: auto;
    right: -70px;
    border-left: 20px solid #0cb3b0;
    border-right: 30px solid transparent;
    transform: rotate(5deg);
  }

.home-banner{
    grid-row: 1/2;
    grid-column: 1/3;
    

}

.home-plant{
    grid-row: 2/3;
    grid-column: 1/2;
}

#plant_heading{
    border-radius: 15px;
    border: #17BEBB;
    padding-top: 10px;
    text-align: center;
    margin-top: 34px;
    margin-left: 38%;
    margin-bottom: 8px;
    width: 200px;
    height: 50px;
    background-color: #ECF9F2;
}


.home-tasks{
    grid-row: 2/3;
    grid-column: 2/3;
    margin: -20px 40px 20px;
}





.home-plant p{
    font-size: 30px;
    margin: 30px 20px;
}

  /* .wrapper {
      position:absolute;
      bottom:0;
      width:100%;
  } */
  
  .box {
	position:relative;
	margin:auto;
	display:block;
	margin-top:-15.5%;
	width:600px;
	height:600px;
	background:none;
}

.pot {
	position:absolute;
	width:20%;
	height:20%;
	bottom:0;
	left:40%;
	background:#FCAA67;
	-webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
	clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
	box-shadow: inset 0 16px 20px rgba(0,0,0,0.3);
}

.pot-top {
	position:absolute;
	width:22%;
	height:5%;
	bottom:17%;
	left:39%;
	background:#FCAA67;
    border-radius:3px;
    z-index: 1;
}


.stem {
	position:absolute;
	width:12px;
	height:12px;
	left:49%;
	bottom:20%;
	background:#70B77E;
}

.leaf {
	position:absolute;
	width:90px;
	height:30px;
	border-radius:50%;
	background:#70B77E;
}

.leaf .line {
	position:absolute;
	width:80%;
	height:1%;
	background:rgba(0,0,0,0.1);
	top:48%;
}

.leaf00 {
	width:0px;
	height:0px;
	top:0%;
	left:5px;
	transform:rotate(-60deg);
}

.leaf01 {
	width:0px;
	height:0px;
	top:40%;
	right: 5px;
	transform:rotate(-150deg);
}

.leaf02 {
	width:0px;
	height:0px;
	top:0%;
	left:5px;
	transform:rotate(-40deg);
}

.leaf03 {
	width:0px;
	height:0px;
	top:0%;
	right: -5px;
	transform:rotate(-150deg);
}

.leaf04 {
	width:50px;
	height:30px;
	top:100%;
	left: 5px;
	transform:rotate(-40deg);
}


/* --- ANIMATION --- */

/* --- 1st ANIMATION --- */

.leaf00.r {
	animation: g 2s;
	animation-fill-mode: forwards;
}

@keyframes g {
	0% {
		width:0%;
		height:0%;
		top:0%;
		left:5px;
		transform:rotate(-60deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:-250%;
		left:-10px;
		transform:rotate(-60deg);
	}
}

/* --- 2nd ANIMATION --- */

.leaf00.leaf1_2 {
	animation: g3 1s;
	animation-fill-mode: forwards;
}

@keyframes g3 {
	0% {
		width:50px;
		height:30px;
		top:-100%;
		left:-10px;
		transform:rotate(-60deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:-40%;
		left:-10px;
		transform:rotate(-60deg);
	}
}  

.stem.rain2 {
	animation: grow2 2s linear 1;
	animation-fill-mode:forwards;
}

@keyframes grow2 {
	0% {
		width:12px;
		height:20px;
		left:49%;
		bottom:20%;
	}
	
	100% {
		width:12px;
		height:75px;
		left:49%;
		bottom:20%;
	}
}

.leaf01.r {
	animation: h 3s;
	animation-fill-mode: forwards;
}

@keyframes h {
	0% {
		width:0px;
		height:0px;
		top:80%;
		right: 5px;
		transform:rotate(-150deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:40%;
		right: 5px;
		transform:rotate(-150deg);
	}
}  

/* --- 3rd ANIMATION --- */

.leaf00.leaf1_3 {
	animation: g4 1s;
	animation-fill-mode: forwards;
}

@keyframes g4 {
	0% {
		width:50px;
		height:30px;
		top:-40%;
		left:-10px;
		transform:rotate(-60deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:-10%;
		left:-10px;
		transform:rotate(-60deg);
	}
}  

.stem.rain3 {
	animation: grow3 2s;
	animation-fill-mode:forwards;
}

@keyframes grow3 {
	0% {
		width:12px;
		height:75px;
		left:49%;
		bottom:20%;
	}
	
	100% {
		width:12px;
		height:150px;
		left:49%;
		bottom:20%;
	}
}

.leaf01.r2 {
	animation: h2 2s;
	animation-fill-mode: forwards;
}

@keyframes h2 {
	0% {
		width:50px;
		height:30px;
		top:40%;
		right: 5px;
		transform:rotate(-150deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:30%;
		right: 5px;
		transform:rotate(-150deg);
	}
}  

.leaf02.t {
	animation: j 2s;
	animation-fill-mode: forwards;
}

@keyframes j {
	0% {
		width:0%;
		height:0%;
		top:100%;
		left:5px;
		transform:rotate(-40deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:60%;
		left:0px;
		transform:rotate(-40deg);
	}
}  

/* --- 4th ANIMATION --- */


.leaf00.leaf1_4 {
	animation: g5 1s;
	animation-fill-mode: forwards;
}

@keyframes g5 {
	0% {
		width:50px;
		height:30px;
		top:-10%;
		left:-10px;
		transform:rotate(-60deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:-10%;
		left:-10px;
		transform:rotate(-60deg);
	}
}  

.stem.rain4 {
	animation: grow4 2s;
	animation-fill-mode:forwards;
}

@keyframes grow4 {
	0% {
		width:12px;
		height:150px;
		left:49%;
		bottom:20%;
	}
	
	100% {
		width:12px;
		height:225px;
		left:49%;
		bottom:20%;
	}
}

.leaf01.r3 {
	animation: h3 2s;
	animation-fill-mode: forwards;
}

@keyframes h3 {
	0% {
		width:50px;
		height:30px;
		top:30%;
		right: 5px;
		transform:rotate(-150deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:17.5%;
		right: 5px;
		transform:rotate(-150deg);
	}
}  

.leaf02.t2 {
	animation: j2 2s;
	animation-fill-mode: forwards;
}

@keyframes j2 {
	0% {
		width:50px;
		height:30px;
		top:60%;
		left:0px;
		transform:rotate(-40deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:40%;
		left:0px;
		transform:rotate(-40deg);
	}
}  

.leaf03.y {
	animation: q 2s;
	animation-fill-mode: forwards;
}

@keyframes q {
	0% {
		width:0px;
		height:0px;
		top:100%;
		right:5px;
		transform:rotate(-160deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:65%;
		right: 5px;
		transform:rotate(-160deg);
	}
} 



/* --- 5th ANIMATION --- */


.leaf00.leaf1_5 {
	animation: g6 1s;
	animation-fill-mode: forwards;
}

@keyframes g6 {
	0% {
		width:50px;
		height:30px;
		top:-10%;
		left:-10px;
		transform:rotate(-60deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:-10%;
		left:-10px;
		transform:rotate(-60deg);
	}
}  

.stem.rain5 {
	animation: grow5 2s;
	animation-fill-mode:forwards;
}

@keyframes grow5 {
	0% {
		width:12px;
		height:225px;
		left:49%;
		bottom:20%;
	}
	
	100% {
		width:12px;
		height:325px;
		left:49%;
		bottom:20%;
	}
}

.leaf01.r4 {
	animation: h4 2s;
	animation-fill-mode: forwards;
}

@keyframes h4 {
	0% {
		width:50px;
		height:30px;
		top:17.5%;
		right: 5px;
		transform:rotate(-150deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:10%;
		right: 5px;
		transform:rotate(-150deg);
	}
}  

.leaf02.t3 {
	animation: j3 2s;
	animation-fill-mode: forwards;
}

@keyframes j3 {
	0% {
		width:50px;
		height:30px;
		top:40%;
		left:0px;
		transform:rotate(-40deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:30%;
		left:0px;
		transform:rotate(-40deg);
	}
}  

.leaf03.y2 {
	animation: q2 2s;
	animation-fill-mode: forwards;
}

@keyframes q2 {
	0% {
		width:50px;
		height:30px;
		top:65%;
		right: 5px;
		transform:rotate(-160deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:50%;
		right: 5px;
		transform:rotate(-160deg);
	}
}

.leaf04.u {
	animation: p 2s;
	animation-fill-mode: forwards;
}

@keyframes p {
	0% {
		width:0px;
		height:0px;
		top:100%;
		left:0px;
		transform:rotate(-30deg);
	}
	
	100% {
		width:50px;
		height:30px;
		top:75%;
		left:0px;
		transform:rotate(-30deg);
	}
}


/* TASKS AREA */
.notepadbase {
    background-color:#ECF9F2;
    border-radius: 15px;
    font-size:16px;
    padding-bottom: 35px;
    margin-top:70px;
    margin-right:60px;
    width: auto;
    height: auto;
    border: none;
    align-content: center;
}

.textbox {
    border-radius:4px;
    font-size:30px;
    padding: 10px 15px;
    margin:5px;
    text-transform: uppercase;
}

.tasks-list{
    height: auto;
    width: auto;
    background-color: white;
    padding: 5px 30px;
}

.task-item{
  height: auto;
  width: auto;
}

.item{
    display: grid;
    grid-template-columns: 1fr 50px 50px 5px;
    background: #c6e9d7;
    margin: 10px 0;
    border-radius: 5px;
}

.textbox1 {

    display: inline-block;
    border-radius:4px;
    font-size:20px;
    font-weight: 600;
    padding: 15px;
    margin:5px 10px;
    width: 80%;
    height: auto;
    border: none;
    align-content: center;
}

.textbox2 {
    display: inline-block;
    border-radius:4px;
    font-size:20px;
    font-weight: 600;
    padding:15px;
    margin:5px 10px;
    width: 80%;
    height: auto;
    border: none;
    align-content: center;
}

.textbox3 {
    display: inline-block;
    border-radius:4px;
    font-size:20px;
    font-weight: 600;
    padding:15px;
    margin:5px 10px;
    width: 80%;
    height: auto;
    border: none;
    align-content: center;
}

.textbox4 {
    display: inline-block;
    border-radius:4px;
    font-size:20px;
    font-weight: 600;
    padding:15px;
    margin:5px 10px;
    width: 80%;
    height: auto;
    border: none;
    align-content: center;
}

.textbox5 {
    display: inline-block;
    border-radius:4px;
    font-size:20px;
    font-weight: 600;
    padding:15px;
    margin:5px 10px;
    width: 80%;
    height: auto;
    border: none;
    align-content: center;
}


/* FOR ADMIN */
.textbox-admin {
	display: inline-block;
    border-radius:4px;
    font-size:30px;
    padding: 10px 15px;
    margin:5px;
    text-transform: uppercase;
}

.add-task{
	display: inline-block;
	padding: 10px;
	margin-left: 180px;
}

.add-task svg{
	position: relative;
	top: 7px;
	cursor: pointer;
}

.add-label{
	position: relative;
	bottom: 2px;
	display: inline-block;
	font-size: 23px;
	font-weight: 600;
	cursor: pointer;
}

.add-task:hover{
	fill: #17BEBB;
	color: #17BEBB;
	transition: 0.5s;
}

.modalTask{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modalTask-content{
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 18px;
    width: 55%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
     0 7px 20px 0 rgba(0,0,0,0.17);

    animation-name: modalopenTask;
    animation-duration: 1s;
}

.modalTask-header{
	background: #17BEBB;	
 	border-radius: 5px;
    padding: 5px;
    color: white;
}

.modalTask-header h2{
	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-left: 36%;
}

.task-closeBtn{
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 55px;
  margin-left: 29%;
  line-height: normal;
}

.task-closeBtn:hover, .task-closeBtn:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.modalTask-body{
    padding: 10px 20px;
}

.modalTask-footer{
    color: white;
    text-align: center;
}

#form-add-task input{
    padding: 5px;
    width: 100%;
    height: 50px;
    margin: 5px;
    font-size:1.4em;
	font-family:sans-serif;
	margin: 10px 0;
}

#form-add-task input:last-child{
	margin: 10px 0 0;
}


#submit-task{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background:#17BEBB;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 100%;

    transition-duration:0.5s;
    transition-timing-function:ease;
    transition-property:all;
  }

#submit-task:hover{
    background: #00a19f;
  }

@keyframes modalopenTask{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.item svg{
    position: relative;
    top: 11px;
}

.edit-task:hover{
    fill: #009795;
    transition: 0.5s;
}

.delete-task:hover{
    fill: #d60000;
    transition: 0.5s;
}

