@import url("https://fonts.googleapis.com/css?family=Montserrat");
body{
    /* background:#00c2cb; */
    background:#c6e9d7;
    font-family: 'Montserrat';
    display: grid;
    /* grid-template-rows: ; */
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
}

#clear{
    position: absolute;
    right: 30px;
    top: 15px;
    height: 55px;
    width: 55px;
    cursor: pointer;
}

/* FOR LOGO */
#logo{
    grid-column: 1/2;
    height: 500px;
    width: 500px;
    position: relative;
    top: 10%;
}

/* FOR LOGIN/REGISTER */
.box{
    width: 380px;
    height: 480px;
    position: relative;
    top: 15%;
    margin: 6% auto;
    border-radius: 25px;
    background: white;
    padding: 5px;
    overflow: hidden;
    
    font-family: 'Montserrat';
    grid-column: 2/3;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #dffeff;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-family: 'Montserrat';
    font-size: 13px;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #CFEDEE;
    border-radius: 30px;
    transition: .5s;
}

#btn:hover{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #CFEDEE;
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-family: 'Montserrat';
}

.form-btn{
    font-family: 'Montserrat';
    font-size: 15px;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    background: #CFEDEE;
    border: 5px;
    outline: none;
    border-radius: 30px;
    transition-duration:0.5s;
    transition-timing-function:ease;
    transition-property:all;
}

.form-btn:hover{
    background: #00c2cb;
    text-decoration: none;
    cursor: pointer;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #515;
    font-size: 14px;
    bottom: 86px;
    position: absolute;

}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

/* FOR RIGHT BANNER */
.banner{
    grid-column: 3/4;
    position: relative;
    top: 10%;
    margin: 20px;
    font-family: 'Montserrat';
    font-size: 50px;
    color: #00c2cb;
    
}

.banner h3{
    text-align: center;
}

.banner p{
    font-size: 40px;
}
/* 
.message{
    height: auto;
    width: auto;
    background: #c6e9d7;
    border-radius: 5px;
    border-left: 5px solid #00c2cb;
    text-align: center;
    padding: 10px;

} */



